<%- include("head")-%>



<!--Marquuee text -->

          <section>
            <div class="FTpos">
                <marquee><p class="FTstyle" >LOG-IN here  Get connected with us and get updates on all latests sports news!!</p></marquee>
            </div>
        </section>


        <!-- *********INTRO*******-->

    <div class="container" >
    <!--conatainer  // dosent cover the entire 100% width -->

         <div style="" class="conStyle contTop">
          <p class="ContT">INTRODUCTION:</p>
<p class="ConTIn">Department of Physical Education & Sports Science serve as a vital and integral part of the student life in campus. The mission of the department is to provide a broad spectrum of sports, recreation and leisure activities for students, staff and faculty, as well as the members of the local community. The primary direction is to provide services and programs that stimulate growth, development and retention of students in a contemporary and safe environment that develops fitness and wellness, social interaction and leadership opportunities.</p>
       </div>
    </div>

    
       <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>



          <!--************* LOG-IN******************* -->


    <section class=" offset-md-1 col-md-10 login-block">
          <!--login-block conatains padding of -->

            <div id="container1">

            <div class="row">

            <!-- .row  for column allocation-->

              <div id="LGstyle" class="col-md-4 login-sec">

                    <h2 class="text-center" style="color:white;">Login Now</h2>


                <!--  LOG-IN FORM  -->
                 <form class="" method="post" action="eventsList">

                 <!--eventList is the page which will be directed if the login is successfull-->

                    <!-- **USN*** first input section-->
                        <div class="Lcont">
                          <label class="text-uppercase">Student USN</label>
                            <input type="text" class="form-control" placeholder="<%=usnerror%>" name="usn" value="<%=usnvalue%>">
                         </div>

                <!-- **PASSWORD**  input section-->
                       <div class="Lcont">
                              <label class="text-uppercase">Password</label>
                                <input type="password" class="form-control" placeholder="<%=passworderror%>" name="password" value="<%=passwordvalue%>">
                       </div>
          

                    <!--FORM last part of LOGIN-->
                      <div>
                        <label>
                          <input type="checkbox">
                            <small>Remember Me</small>
                        </label>


                     <!--LOGIN BUTTON-->  
                        <button type="submit" class="btn btn-primary LGbtn" >Log In</button>
                    </div>


                    <div class="QPOS">

                    <div  style="font-size:15px;" class="Qpos">
                             <a href="Signup">Forgot your password?</a>
                         </div>


                         <div style="font-size:15px;" class="links SQpos">
                              Don't have an account?<a class ="Supos" href="Signup">Sign Up</a>
                         </div>
   
   
                         

                    </div>
                        
                  </form>
              </div>

<!--Carousel-->


 <div class="col-md-8 banner-sec">


                                   
                                       <div class="carousel slide" data-ride="carousel" data-interval="2500">
                                          <div class="carousel-inner" role="listbox">
                   
                                             <!--1st ITEM-->
                                             <div class="carousel-item active">
                                                <img id="IMGpos" class="img-fluid" src="/caimg/ca5.jpg" alt="First slide">
                                                <!--caption for the images if required-->
                                                  <div class="carousel-caption d-none d-md-block">
                                               </div>
                                            </div>


                                             <!--2-->  
                                             <div class="carousel-item">
                                                  <img id="IMGpos" class=" img-fluid" src="/caimg/slider3.jpg" alt="second slide">
                                                     <div class="carousel-caption d-none d-md-block">
                                                     </div>
                                             </div>
                   
                                             <!--3-->
                                             <div class="carousel-item">
                                                 <img id="IMGpos" class=" img-fluid" src="/caimg/ca6.jpg" alt="second slide">
                                                   <div class="carousel-caption d-none d-md-block">
                                                   </div>
                                             </div>
                                 
                                             <!--4-->
                                             <div class="carousel-item">
                                                   <img id="IMGpos" class="img-fluid" src="/caimg/ca1.jpg" alt="Third slide">
                                                 <div class="carousel-caption d-none d-md-block">
                                                </div>
                                             </div>
                                 
                                            <!--5-->
                                           <div class="carousel-item">
                                                <img id="IMGpos" class="img-fluid" src="/caimg/ca2.jpg" alt="Third slide">
                                               <div class="carousel-caption d-none d-md-block">
                                               </div>
                                           </div>
                                 
                                            <!--6-->
                                            <div class="carousel-item">
                                                <img id="IMGpos" class="img-fluid" src="/caimg/ca3.jpg" alt="Third slide">
                                                <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                    

                                            <!--7-->
                                            <div class="carousel-item">
                                                <img id="IMGpos" class="img-fluid" src="/caimg/ca4.jpg" alt="Third slide">
                                                <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                            
                                        </div>	     
                                      </div>
                                      
                                  </div>




              
                                  
                                  
                            </div>
         </section>
        
  <!-- /****************************************/ -->



  <!--Belowe Content-->

  
  <!--Content2-->
   <div class="container CNpos " >
       <div class="conStyle">
          <p class="ContT" >VISION:</p>
             <p class="ConTIn">To engage in relentless pursuit of excellence in promotion and development of Physical Education, sporting and extra-curricular activities through an innovative approach in teaching, coaching, research and outreach activities and to evolve a holistic approach to the all-round betterment of human resources through a harmonious blend of body, mind and spirit.</p>
       </div>



<!--DOTS-->
       <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>



<!--Content3-->
       <div class="conStyle">
           <p class="ContT " >MISSION:</p>
              <p class="ConTIn"> To design and introduce innovative, integrated, inter-disciplinary curriculum in physical education, sports, games and allied areas.
              To recognize and encourage budding athletes/students with potential and further encourage them by coaching/training.
              To develop and provide modern amenities in par with the Global standards in the field of sporting.
              To produce dedicated and passionate sports persons, who will always display high morale and sports</p>
       </div>
   </div>

   <!--DOTS-->
       <div class="dotPos ContL">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>

 <%- include("footer")-%>