<%- include("header") -%>


<link rel="stylesheet" href="/response.css"> <!--CSS new-->

<!--Response Page -->


<section>

<!--Heading/title -->
    <div class="heading1 offset-md-1 ">
    <span>Successfully Registerd</span>
    </div>


<!--Content -->

   <div class="container CNpos CNstyle offset-md-1" >
        <p style="font-size: 18px;">Hey,<span id="FLname" > <%=Fname%> <%=Lname%></span> you have successfully registerd for the event.
		The user detiails submited in the form is recorded. You will be soon reciving notifications regarding the event from the co-ordinator,
		 an response mail also has been sent to the registerd mail id. For further queries contact event co-ordinator.</p>
		 <p style="font-size: 18px;">The details enterd in the form is shown below, and the same will be registerd.</p>
    </div>


	<p class="poptext">hidden</p>


<!-- Table information -->

<div class="container  TApos">

<table>

  <tr>
    <th class="">FIRST NAME</th>
    <td class=""><%=Fname%></td>
  </tr>

  <tr>
    <th class="">LAST NAME</th>
    <td class=""><%=Lname%></td>
  </tr>

  <tr>
    <th class="">E-MAIL ID</th>
    <td class=""><%=Mail%></td>
  </tr>

    <tr>
    <th class="">YEAR</th>
    <td class=""><%=Year%></td>
  </tr>

    <tr>
    <th class="">USN</th>
    <td class=""><%=Usn%></td>
  </tr>

    <tr>
    <th class="">BRANCH</th>
    <td class=""><%=Branch%></td>
  </tr>  


  </table>


</div>




<!--Table END -->


<div class="FOpos">
<%- include("footer") -%>
</div>



</section>

