<%- include("head")-%>

<link rel="stylesheet" href="/Signup.css"> <!--CSS new-->


<!--Marquuee text -->

          <section>
            <div class="FTpos">
                <marquee><p class="FTstyle" >LOG-IN here  Get connected with us and get updates on all latests sports news!!</p></marquee>
            </div>
        </section>


        <!-- *********INTRO*******-->

    <div class="container" >
    <!--conatainer  // dosent cover the entire 100% width -->

         <div style="" class="conStyle contTop">
          <p class="ContT">INTRODUCTION:</p>
<p class="ConTIn">Department of Physical Education & Sports Science serve as a vital and integral part of the student life in campus. The mission of the department is to provide a broad spectrum of sports, recreation and leisure activities for students, staff and faculty, as well as the members of the local community. The primary direction is to provide services and programs that stimulate growth, development and retention of students in a contemporary and safe environment that develops fitness and wellness, social interaction and leadership opportunities.</p>
       </div>
    </div>

    
       <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>



 <!--************* LOG-IN******************* -->


    <section class=" offset-md-1 col-md-10 login-block">
          <!--login-block conatains padding of -->

            <div id="container1">

            <div class="row">

            <!-- .row  for column allocation-->


<!--Sign up-->

 <div id="LGstyle" class=" col-md-12 login-sec  login-sec2  ">

                    <h2 class="text-center" style="color:white;">Sign Up Now</h2>


                <!--  LOG-IN FORM  -->
                 <form class="" method="post" action="eventsList2">

                 <!--eventList is the page which will be directed if the login is successfull-->


                 <div class="row">

                    <div class="R1pos col-md-6">
                    <!-- **USN*** first input section-->
                        <div class="Lcont">
                          <label class="text-uppercase">Student Name</label>
                            <input type="text" class="form-control" placeholder="" name="SName" value="<%=NameValue%>">
                         </div>
                      </div>   


                <!-- **PASSWORD**  input section-->
                <div class=" R1C2pos col-md-4">
                       <div class="Lcont">
                              <label class="text-uppercase">Student USN</label>
                                <input type="text" class="form-control" placeholder="" name="SUsn" value="<%=UsnValue%>">
                          </div>
                       </div>

                </div>   






                <div class="row">

                    <div class=" R1pos col-md-6">
                    <!-- **USN*** first input section-->
                        <div class="Lcont">
                          <label class="text-uppercase">E-Mail</label>
                            <input type="email" class="form-control" placeholder="" name="SEmail" value="<%=EmailValue%>">
                         </div>
                      </div>   


                <!-- **PASSWORD**  input section-->
                <div class="R1C2pos col-md-4">
                       <div class="Lcont">
                              <label class="text-uppercase">Password</label>
                                <input type="password" class="form-control" placeholder="" name="SPassword" value="<%=PasswordValue%>">
                          </div>
                       </div>

                </div>   






                 <div class="row">

                    <div class=" R1pos col-md-4">
                    <!-- **USN*** first input section-->
                        <div class="Lcont">
                          <label class="text-uppercase">Branch</label>
                            <input type="text" class="form-control" placeholder="" name="SBranch" value="<%=BranchValue%>">
                         </div>
                      </div>   


                <!-- **PASSWORD**  input section-->
                <div class=" R1C3pos col-md-4">
                       <div class="Lcont">
                              <label class="text-uppercase">Contact No.</label>
                                <input type="number" class="form-control" placeholder="" name="SContact" value="<%=ContactValue%>">
                          </div>
                       </div>

                        <div class="  R1C3pos col-md-2">
                       <div class="Lcont">
                              <label class="text-uppercase">Year</label>
                                <input type="text" class="form-control" placeholder="" name="SYear" value="<%=YearValue%>">
                          </div>
                       </div>

                </div>   




          
               

                    <!--FORM last part of LOGIN-->
                      <div>

                      <!--
                        <label>
                          <input type="checkbox">
                            <small>Remember Me</small>
                        </label>
                        -->

                         
                        <p class="R1pos ERtxt"><%=Errortext%></p>
                        


                     <!--LOGIN BUTTON-->  
                        <button type="submit" class="btn btn-primary LGbtn LGbtn2 offset-md-10" >Sign Up</button>
                    </div>


                    <div class="QPOS">
                         <div style="font-size:15px;" class="links">
                             <!-- Don't have an account?<a href="#">Sign Up</a> -->
                         </div>
   
   
                         <div  style="font-size:15px;" class="Qpos">
                             <a href="/">Already have an account ?</a>
                         </div>

                    </div>
                        
                  </form>
              </div>



              
                                  
                                  
                            </div>
         </section>
        
  <!-- /****************************************/ -->



  <!--Belowe Content-->

  
  <!--Content2-->
   <div class="container CNpos " >
       <div class="conStyle">
          <p class="ContT" >VISION:</p>
             <p class="ConTIn">To engage in relentless pursuit of excellence in promotion and development of Physical Education, sporting and extra-curricular activities through an innovative approach in teaching, coaching, research and outreach activities and to evolve a holistic approach to the all-round betterment of human resources through a harmonious blend of body, mind and spirit.</p>
       </div>



<!--DOTS-->
       <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>



<!--Content3-->
       <div class="conStyle">
           <p class="ContT " >MISSION:</p>
              <p class="ConTIn"> To design and introduce innovative, integrated, inter-disciplinary curriculum in physical education, sports, games and allied areas.
              To recognize and encourage budding athletes/students with potential and further encourage them by coaching/training.
              To develop and provide modern amenities in par with the Global standards in the field of sporting.
              To produce dedicated and passionate sports persons, who will always display high morale and sports</p>
       </div>
   </div>

   <!--DOTS-->
       <div class="dotPos ContL">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>

 <%- include("footer")-%>